<h1>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce diam orci, varius vitae lorem at, aliquet scelerisque magna. Maecenas placerat aliquam consectetur. Suspendisse blandit risus risus, id ultrices diam bibendum vitae. Nam eu nibh eget erat condimentum condimentum. Nam tincidunt bibendum orci, in posuere nulla elementum at. Mauris vel nibh a erat porta iaculis. Curabitur blandit venenatis mauris, at venenatis risus tempus vel. Aenean tincidunt justo eget consequat luctus. Mauris sodales facilisis tortor, et rhoncus ipsum rutrum in. Pellentesque nec ex efficitur, finibus leo id, dapibus sapien. Nulla sagittis magna eu iaculis scelerisque. Vivamus felis eros, aliquet vitae aliquet at, dictum sed ipsum. Ut vulputate elit sed nibh pellentesque rhoncus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos." </h1>

<%= link_to "Home", root_path %> 


