<h1>"This is ABOUT page" </h1>
<p>To link the pages we need the embedruby and for this the we need the following formatted line</p>
<%= link_to "Home", root_path %> 


<p>"For this page we use the same welcome_controller,no need to create a new one, But we have to create separate html.erb file"</p>